<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="parts/Head.html :: copy"></head>

<body>

  <!-- ======= Header ======= -->
  <header th:replace="parts/Header.html :: copy"></header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Add location</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Add location</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
          <form action="#" th:action="@{/add-location}" method="post" role="form" class="php-email-form">
            <div class="form-group mt-3">
              <label for="locationName">Location Name</label>
              <input type="text" class="form-control" name="location_name" id="locationName" required>
            </div>
            <div class="form-group mt-3">
              <label for="message">Message</label>
              <textarea id="message" class="form-control" name="message" rows="10" required></textarea>
            </div>
            <div class="form-group mt-3">
              <label for="image">Image</label>
              <input type="file" class="form-control" name="image" id="image" accept=".png,.jpg,.jpeg">
            </div>
<!--            <div class="my-3">-->
<!--              <div class="loading">Loading</div>-->
<!--              <div class="error-message"></div>-->
<!--              <div class="sent-message">Your message has been sent. Thank you!</div>-->
<!--            </div>-->
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
<!--        <p>-->
<!--          Example inner page template-->
<!--        </p>-->
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer th:replace="parts/Footer.html :: copy"></footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

</body>

</html>