<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="parts/Head.html :: copy"></head>

<body>

    <header th:replace="parts/Header.html :: copy"></header><!-- End Header -->

    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>All locations</h2>
                    <ol>
                        <li><a href="/">Home</a></li>
                        <li>All locations</li>
                    </ol>
                </div>

            </div>
        </section><!-- End Breadcrumbs -->

        <section class="inner-page">
            <div class="container">
                <div class="card mb-3" th:each="location: ${locations}" style="max-width: 800px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img class="img-fluid rounded-start" th:src="@{'location/image/' + ${location.id}}" alt="Card image cap">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${location.getTitle()}"></h5>
                                <p class="card-text" th:text="${location.getMessage()}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>
</html>